@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Overpass", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7a7f9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff6e0;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #fff6e0;
}
